<div id="feedback_report_form">
  <div class="modal-body">
    <div class="alert alert-success mt-0 mb-0">
      Report sent.
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Done</button>
  </div>
</div>
