<h1>Editing drawing</h1>

<%= render "form", drawing: @drawing %>

<br>

<div>
  <%= link_to "Show this drawing", event_drawing_path(@event, @drawing) %> |
  <%= link_to "Back to drawings", event_drawings_path(@event) %>
</div>
