<p style="color: green"><%= notice %></p>

<h1>Drawings</h1>

<div id="drawings">
  <% @drawings.each do |drawing| %>
    <p>
      Drawing #<%= drawing.id %>
      <%= link_to "Show winners", event_drawing_winners_path(@event, drawing) %>
    </p>
  <% end %>
</div>

<%= link_to "Back to #{@event.name}", @event%>