<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <p>
      <%= link_to event.name, event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
