<div id="pos" class="row" data-controller="cart">
  <!-- Product options -->
  <div id="products" class="col-md-6">
    <div class="row">
      <% @products.each_slice(2) do |slice| %>
        <div class="col-md-6">
          <% slice.each do |product| %>
            <div class="product touchbutton mb-3">
              <div class="name">
                <%= product.name %>
              </div>
              <div class="price">
                <%= number_to_currency(product.price / 100.0) %>
              </div>
              <button type="button" class="btn btn-sm btn-primary mt-2"
                      data-product-id="<%= product.id %>"
                      data-action="click->cart#addToCart">
                Add to Cart
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Cart and Checkout form -->
  <div id="checkout-form" class="col-md-6">
    <%= render partial: 'pos/cart' %>
  </div>
</div>
