<% if @terminal_intent.status == "requires_capture" || @terminal_intent.status == "succeeded" %>
  <turbo-stream action="replace" target="payment-status">
    <template>
      <p>Transaction succeeded! Redirecting...</p>
    </template>
  </turbo-stream>
<% else %>
  <turbo-stream action="replace" target="payment-status">
    <template>
      Complete the transaction on the Reader Device: <%= current_reader.label %> | <%= current_reader&.action&.status %> | <%= @terminal_intent.status %>
    </template>
  </turbo-stream>
<% end %>
