<h1>Payment Processing</h1>

<turbo-frame id="payment_status_<%= @payment_intent.id %>">
  Complete the transaction on the reader <em><% current_reader.label %></em>.
  <%= turbo_stream_from "payment_status_#{@payment_intent.id}" %>
</turbo-frame>

<p><%= button_to "Cancel Payment", readers_cancel_action_path, method: :delete, class: "btn btn-danger" %></p>
