<div class="container mt-5 text-center">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-warning">Payment Canceled</h1>
      <p class="card-text">Your checkout process has been canceled. You have not been charged.</p>
      <p class="card-text">You can close this page or go back to select a different plan.</p>
    </div>
  </div>
</div>